 /*
  - container
  -section head

 */
 /* global style */
 :root{
     /* --main-color:#45B2F8; */
     --main-color:#2196F3;
     --s-background:#ececec54;
     /* --s-background:#ecececa4; */
     --p-color:#D6ECEC;
 }

 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body{
     font-family: "Cairo", sans-serif;
 }
 .container{
      width: 80%;
      margin:0 auto;
      /* padding: 15px 0; */
 }
 .link-none{
     text-decoration: none;
 }
 .unlist{
     list-style: none;
 }
 .link-style{
    font-size: 18px;
    text-transform: capitalize;
 }

 /* header style */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px ;
}
.logo{
    font-weight: bolder;
    font-size:25px;
    color:var(--main-color)
}

nav{
    width: 50%;
}
.nav-list{
    display: flex;
    flex-direction: ;
    justify-content: space-evenly;
    align-items: center;
}
.nav-list-item {
    cursor: pointer;
    color:#000;
    padding: 20px  25px;
    position: relative;
    transition: background-color .2s ;
    -webkit-transition: background-color .2s ;
    -moz-transition: background-color .2s ;
    -ms-transition: background-color .2s ;
    -o-transition: background-color .2s ;
}
.nav-list-item::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    top: 0px;
    left: 0;
    transition: width .6s;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
}
.nav-list-item a{
        color:#000;
}

.nav-list-item:hover  {
    background-color: var(--s-background);
}
.nav-list-item:hover  a {
    color:var(--main-color);
}
.nav-list-item:hover::before{
        width: 100%;
}

/* style for other links */
.other-links{
 width: 80%;
 margin:auto;
}
.other-links-content{
    display: flex;
    border-bottom: 4px solid var(--main-color);
    border-top: 2px solid var(--s-background);
}
.other-links-content-img{
    margin:auto;
}
.other-links-content-img img{
    width: 100%;
}
.other-links-list{
    width:55%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.other-links-list-group-one{
    width:45%
}
.other-links-list-item{
    padding: 15px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.337);
    position: relative;
    cursor: pointer;
    
}
.other-links-list-item:last-child{
    border:none;
}
.other-links-list-item::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--s-background);
    transition:width .5s;
    -webkit-transition:width .5s;
    -moz-transition:width .5s;
    -ms-transition:width .5s;
    -o-transition:width .5s;
}
.other-links-list-item:hover::before{
    width: 100%;
}
.other-links-list-item a{
    font-weight: bold;
    color:var(--main-color)
}
.other-links-list-item > a > i{
 margin-right: 10px;
}
/* media query for otherlinks*/
/* media query for otherlinks*/
@media (max-width:991px) {
    .other-links-content-img{
        display: none;
    }
    .other-links-list{
        width: 100%;
    }
}
@media (max-width:575px){
    .other-links{
        width:100%
    }
 .other-links-list{
        flex-direction: column;
    }
    .other-links-list-group-one{
    width:100%;
}
.other-links-list-item:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.337);

}
}
