 /*
  - container
  -section head

 */
 /* global style */
 :root{
     --main-color:#45B2F8;
     --s-background:#ecececa4;
     --s-background:#ecececa4;
     --p-color:#D6ECEC;
 }

 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body{
     font-family: "Cairo", sans-serif;
 }
 .container{
      width: 80%;
      margin:0 auto;
      /* padding: 15px 0; */
 }
 .link-none{
     text-decoration: none;
 }
 .unlist{
     list-style: none;
 }

 /* header style */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bolder;
    font-size:25px;
    color:var(--main-color)
}

nav{
    width: 70%;
    font-size: 20px;
}
.nav-list{
    display: flex;
    flex-direction: ;
    justify-content: space-evenly;
    align-items: center;
}
.nav-list-item {
    text-transform: capitalize;
    cursor: pointer;
    color:#000;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    padding: 20px  25px;
}
.nav-list-item a{
        color:#000;
}
.nav-list-item:hover{
    background-color: var(--s-background);
    border-top:5px solid var(--main-color);
}